<div class="grid">
  <mat-card class="card-atividade">
    <video mat-card-image autoplay loop>
      <source src="./assets/prism.webm" type="video/webm">
    </video>
    <mat-card-header>
      <img class="no-round" mat-card-avatar src="./assets/cor.png" alt="">
      <mat-card-title>Conversor RGB-HSL</mat-card-title>
      <mat-card-subtitle>Aula 3</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Converte cores definidas em RGB para HSL e vice-versa.
      </p>
    </mat-card-content>
    <mat-card-actions align="end">
      <button [routerLink]="'/converter'" mat-stroked-button color="accent">ABRIR CONVERSOR</button>
    </mat-card-actions>
  </mat-card>
</div>
